[Unit]
Description=Setup Flanneld
Documentation=https://github.com/coreos/flannel
Requires=etcd.service
After=etcd.service

[Service]
ExecStart=/usr/bin/etcdctl set /coreos.com/network/config '{"Network":"10.100.0.0/16", "Backend": {"Type": "vxlan"}}'
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
